/* Horizontal grid */
.flex-container {
  display: flex;
  flex-direction: column;
  height: 1500px;
}
.flex-item-1 {
  flex: 2;
}

.flex-item-2 {
  flex: 1;
}

.flex-item-3 {
  flex: 3;
}

.flex-item-4 {
  flex: 1;
}

/* Vertical grid */
.vertical-flex-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: #495E57;
}
.vertical-flex-item {
  font-size: 18px;
}
.vertical-flex-item-center {
  flex: 2;
}
.vertical-flex-item-border {
  flex: 1;
}
.reserveButton {
    margin-top: 50px;
    color: #495E57;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    background-color: #F4CE14;
}
.imgPasta {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.shortDescription {
  color: black;
}
.vertical-flex-item-center > h4 {
  color: black;
}