/* Horizontal grid */
.login-flex-container {
  display: flex;
  flex-direction: column;
  background-color: #495e57;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.login-flex-item-1 {
  flex: 1;
}
label {
    color: white;
}
form {
    margin-top: 50px;
    margin-bottom: 50px;
}
.loginButton {
    margin-top: 50px;
    color: #495E57;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    background-color: #F4CE14;
}